:root {
    --color-primary: #aed6dc;
    --color-primary--light: #e0ffff;
    --color-primary--dark: #7ea5aa;
    --color-secondary: #ff9a8d;
    --color-secondary--light: #ffccbd;
    --color-secondary--dark: #c96a60;
    --color-tertiary: #64dd17;
    --color-tertiary--light: #9cff57;
    --color-tertiary--dark: #1faa00;
    --color-quaternary: #ff6d00;
    --color-quaternary--light: #ff9e40;
    --color-quaternary--dark: #c43c00;

    --color-page-background: #e0ffff;
    --color-sidebar-background: #ffccbd;

    --color-white: white;

    --font-color--light: white;
    --font-color--dark: #212b40;
    --font-color--default: #212b40;

    --badge-grey--light: rgb(230 230 230);
    --badge-grey--dark: rgb(80 80 80);
    --badge-green--light: rgb(200, 255, 220);
    --badge-green--dark: rgb(0, 160, 60);
    --badge-blue--light: rgb(200, 220, 255);
    --badge-blue--dark: rgb(0, 60, 160);
    --badge-red--light: rgb(255 200 200);
    --badge-red--dark: rgb(160, 0, 0);
    --badge-yellow--light: rgb(255 240 160);
    --badge-yellow--dark: rgb(200 140 0);
}