.tag-widget-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: stretch;
}

.pill-tag-wrapper {
    font-size: small;
    font-weight: 700;
    cursor: pointer;
    border-radius: 1rem;
    flex: 1 0 auto;
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    transition: 200ms;
    background-color: var(--color-secondary);
}

.pill-tag-name {
    color: var(--color-secondary--light);
    text-align: center;
    transition: 200ms;
}

.pill-tag-number {
    color: var(--color-secondary--dark);
    font-weight: 700;
    border-radius: 0.5rem;
    text-align: center;
    transition: 200ms;
}

.pill-tag-wrapper:hover .pill-tag-number{
    color: var(--color-secondary--light);
}

.pill-tag-wrapper:hover .pill-tag-name{
    color: var(--color-secondary--light);
}

.pill-tag-wrapper:hover {
    background-color: var(--color-secondary--dark);
}
