:root {
    --color-primary: #aed6dc;
    --color-primary--light: #e0ffff;
    --color-primary--dark: #7ea5aa;
    --color-secondary: #ff9a8d;
    --color-secondary--light: #ffccbd;
    --color-secondary--dark: #c96a60;
    --color-tertiary: #64dd17;
    --color-tertiary--light: #9cff57;
    --color-tertiary--dark: #1faa00;
    --color-quaternary: #ff6d00;
    --color-quaternary--light: #ff9e40;
    --color-quaternary--dark: #c43c00;

    --color-page-background: #e0ffff;
    --color-sidebar-background: #ffccbd;

    --color-white: white;

    --font-color-light: white;
    --font-color-dark: #212b40;
}

body {
    margin: 0;
}

/* 
body
    .main-layout-wrapper
        .main-layout-header
        .main-layout-content-wrapper
            .content-layout-sidebar
            .content-layout-page-wrapper
                .page-container
                    .matching-game-container
                        .vehicles-container
                        .navigation-container
                        .statistics-container
    .main-layout-footer
*/

.main-layout-wrapper {
    background-image: url(./resources/images/backgrounds/background-with-track.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-layout-header {
    background-color: var(--color-primary);
    height: 2rem;
    width: 100%;
}

.main-layout-content-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

@media only screen and (max-width: 1200px) {
    .main-layout-content-wrapper {
        flex-direction: column-reverse;
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .main-layout-content-wrapper {
        flex-direction: column-reverse;
        width: 100%;
        gap: 0;
    }
}

.content-layout-sidebar {
    background-color: var(--color-sidebar-background);
    border-radius: 1rem;
    flex: 0.33;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    .content-layout-sidebar {
        border-radius: 0;
    }
}

.content-layout-page-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matching-game-container {
    background-color: var(--color-page-background);
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media only screen and (max-width: 1200px) {
    .matching-game-container {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .matching-game-container {
        width: 61rem;
    }
}

@media only screen and (max-width: 480px) {
    .matching-game-container {
        border-radius: 0;
        padding: 0 2rem 2rem 2rem;
    }
}

.progress-bar-container {
    display: flex;
}

/* /// Vehicles section /// */
.vehicles-container {
    display: flex;
    align-items: stretch !important;
    gap: 2rem;
}

@media only screen and (max-width: 600px) {
    .vehicles-container {
        flex-direction: column !important;
    }
}

